.overview {
  .col-sm-6, .col-md-6, .col-lg-6 {
    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }

  // TODO: fix height of col-sm-6
  // [class*="col-sm-"] {
  //   float: none;
  //   display: table-cell;
  //   vertical-align: top;
  // }

  td {
    padding: 0px;
  }

  .book-label {
    color: $gray;
    width: 250px;

    h5 {
      margin: 0px;
    }
  }

  .book-value {
    width: 300px;
  }
}

@media(max-width: 576px) {
  .overview .col-xs-12 {
    padding: 0px;
    margin-bottom: 10px;
  }
}
