.result {

  .col-xs-12, .col-md-6, .col-sm-6 {
    min-height: 250px;

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }

  td {
    padding: 0px;
  }

  .book-label {
    color: $gray;
    width: 150px;

    h5 {
      margin: 0px;
    }
  }

  .book-value {
    width: 300px;
    // font-weight: bold;
  }
}
