<p><strong>Your Portfolios</strong></p>

<div>
  <ul>
    <% @portfolios.order(created_at: :asc).each do |portfolio| %>
      <li><%= link_to portfolio.name, portfolio_path(portfolio) %></li>
    <% end %>
  </ul>
</div>

<div>
  Create a new portfolio:
  <%= link_to "New Portfolio", new_portfolio_path %>
</div>

test
