/* -------------------------------------
 * Portfolio: Holdings
* ------------------------------------- */

.allocation {
  width: 100%;

  .col-sm-4, .col-md-4 {
    padding: 0px;
  }

  .chart {
    padding: 10px 0px;
  }
}
