/* -------------------------------------
 * Portfolio: Holdings Table
 * ------------------------------------- */

.holdings {
  width: 100%;
  margin: 15px 0px;
}

.table-responsive {
  margin: 10px 0px;
  width: 100%;

  thead, .header {
    font-weight: bold;
    padding: 5px !important;
    margin-bottom: 5px;
    background-color: $headers;
  }

  th, td {
    padding-right: 10px;
  }
}

.total {
  font-weight: bold;
}
