/* -------------------------------------
 * Portfolio: Holdings Table
 * ------------------------------------- */

.holdings {
  width: 100%;
  // margin: 15px 0px;
}

table, .table-responsive, .table-responsive-sm, .table-responsive-xs, .table-responsive-md {
  // "table-responsive" class only used in transactions index
  width: 100%;
  border: none;
  overflow-x: auto;
  overflow-y: hidden;

  thead, .header {
    font-weight: bold;
    padding: 5px !important;
    margin-bottom: 5px;
    background-color: $headers;
  }

  a {
    text-decoration: none;
    color: black;
  }

  th, td {
    padding-right: 10px;
    white-space: nowrap;
  }
}

table {
  margin: 10px 0px;
}

.total {
  font-weight: bold;
}

.fa-caret-down {
  padding-left: 15px;
}

// .action {
//   height: 40px;
// }
