/* -------------------------------------
 * News
 * ------------------------------------- */

.news {
  min-height: 75px;

  .col-md-6, .col-lg-6 {
    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;
    }
  }
}

.article {
  padding: 7.5px 0px;
  border-bottom: 0.5px solid $hover;

  a {
    text-decoration: none;
    color: black;
  }

  &:hover {
    background-color: $hover;
  }

  &:first-child {
    padding-top: 0px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.source {
  font-family: "Lato", "sans-serif";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $link;
}
