<div class="search">
  <form action="/result" method="get">
    <input type="stock" name="stock" placeholder="Stock Ticker" class="search-content">
    <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
  </form>
</div>
