<div class="search-desktop hidden-xs hidden-sm">
  <form action="/result" method="get">
    <input type="stock" name="stock" placeholder="Search" class="search-content">
    <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
  </form>
</div>

<div class="search-mobile hidden-lg hidden-md">
  <form action="/result" method="get">
    <input type="stock" name="stock" placeholder="Search" class="search-content">
    <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
  </form>
</div>
