<% if user_signed_in? %>
  <% @user = current_user %>

  <% transactions = @user.transactions.select { |transaction| transaction.ticker == @symbol } %>
  <% @selected_portfolios = [] %>
  <% transactions.each { |transaction| @selected_portfolios << transaction.portfolio } %>
  <% @selected_portfolios.uniq.each do |portfolio| %>
    <%= link_to portfolio.name, portfolio_path(portfolio), class: "button" %>
  <% end %>

  <% unless @selected_portfolios.empty? %>
    <table class="table-responsive holdings">
      <thead class="header">
        <th>Portfolio</th>
        <th>No. of Shares</th>
        <th>Market Value</th>
        <th>Average Cost</th>
        <th>P&L ($)</th>
        <th>Return (%)</th>
      </thead>
      <tbody>
        <% @selected_portfolios.each do |portfolio| %>
          <tr class="portfolio-row">
            <td><%= portfolio.name %></td>
            <% portfolio.transaction_summary(@symbol).each do |detail| %>
              <td><%= detail %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
