<div class="about">
  <h1>Dough Trade</h1>
  <br>

  <h2>About</h2>
  <p><strong>Dough Trade</strong> was created as a side project for me to track my investments in exactly the way that I want, as I have yet to fnd an app that is satisfactory for my needs. This project is written in pure Ruby without any frameworks or testing libraries, and is my first attempt in interacting with an API. It can only support US stocks at the moment but I hope to be able to add Hong Kong stocks in the future.</p>
  <br>

  <h2>What the Dough?</h2>
  <p><strong>dough</strong> /doh/ <i>n.</i> –
    <strong>1.</strong> flour or meal combined with water, milk, etc., in a mass for baking into bread, cake, etc.; paste of bread;
    <strong>2.</strong> any similar soft, pasty mass;
    <strong>3.</strong> money (<i>slang</i>).
  </p>
  <br>

  <h2>Acknowledgements</h2>
  <p>The bread logo was taken from a design on <a href="http://www.dribbble.com" target="_blank">Dribbble</a>, which I could no longer retrace its origins - if I could give credit to the creator of the designer, I would.</p>
  <p>I am grateful for the <a href="http://www.ft.com" target="_blank">Financial Times</a> for the inspirational colour schemes as well, as I would've otherwise spent countless days and nights trying (and probably failing) to find reasonable ones.</p>
  <p>Financial data is provided by <a href="http://www.iextrading.com" target="_blank">IEX</a>, who's been wonderful for providing a wealth of market data (for free).</p>
  <br>

  <h2>Upcoming Features</h2>
  <ul>
    <li>Compatability with stocks listed on the Hong Kong Stock Exchange</li>
    <li>Addition of fees to better calculate P&L positions</li>
    <li>Stock watchlists</li>
    <li>Personalised stock recommendations based on investment profile and appetite</li>
  </ul>

  And of course...

  <ul>
    <li><i><u><strong>A much quicker loading speed</strong></u></i> - because no one would wait for literally seven minutes for a page to load - let alone an investor/trader</li>
  </ul>
  <br>
</div>

<%= content_for(:title, "Dough Trade – About") %>
