/* -------------------------------------
 * Flash notices and alerts
 * ------------------------------------- */

.alert {
  margin-bottom: 10px;
  text-align: center;
  color: white;
  padding: 5px 35px 5px 10px;
  font-size: 14px;
  position: sticky !important;
  top: 70px;
}

.alert-info {
  background: $green;
  border: 1px solid $green;
}

.alert-warning, .alert-danger {
  background: $red;
  border: 1px solid $red;
}

.close {
  font-size: 25px;
}

.errors {
  background: #FCCAC9;
  border: 1px solid $red;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0px;

  ul {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}
