.navbar-wrapper {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  height: 70px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky !important;
  background: $background;
  top: 0;
  z-index: 10;
}

.logo img {
  height: 50px;
}

.navbar-links {
  a {
    text-decoration: none;
    color: $link;

    &:hover {
      color: $red;
      transition: all 0.3s ease;
    }
  }

  .list-inline {
    list-style: none;
    margin: 0px;

    li {
      display: inline-block;
      padding: 0px 20px;
      font-family: Lato, sans-serif;
      font-size: 12.5px;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;

      &:last-child {
        padding: 0px 0px 0px 20px;
      }
    }
  }

  .list-inline-mobile li {
    padding: 0px;
  }
}
